<header class="header">
    <div class="header__logo">
        <img src="public/logo.png">
        <div class="header__rayita"></div>
        <label>Sistema de Biblioteca</label>
    </div>
    <div class="header__opciones">
        <a id="botonAsistencia" class="header__boton">Usuarios</a>
        <a id="botonLogeo" class="header__boton header__boton--activo">Administradores</a>
    </div>
</header>
<div class="tituloForm">Ingreso Administrador</div>
<form class="form">
    <div class="form__contenido">
        <label class="form__subtitulo">Documento:</label>
        <input class="form__input" type="text" placeholder="Ingrese el Documento">
    </div>
    <div class="form__contenido">
        <label class="form__subtitulo">Contraseña:</label>
        <input class="form__input" type="password" placeholder="Ingrese la Contraseña">
    </div>
    <button class="form__boton">Iniciar Sesion</button>
</form>