<header class="header">
    <div class="header__logo">
        <img src="public/logo.png">
        <div class="header__rayita"></div>
        <label>Sistema de Biblioteca</label>
    </div>
 <div class="header__opciones">
        <a id="botonAsistencia" class="header__boton header__boton--activo">Usuarios</a>
        <a id="botonLogeo" class="header__boton ">Administradores</a>
    </div>
</header>
<div class="tituloForm">Registrar Asistencia</div>
<form class="form">
    <div class="form__contenido">
        <label class="form__subtitulo">Documento:</label>
        <input class="form__input" type="text" placeholder="Ingrese el Documento">
    </div>
    <div class="form__contenido">
        <label class="form__subtitulo">Motivo de Ingreso:</label>
        <select class="form__input">
            <option>Sala de computo</option>
            <option>Sala de Lectura</option>
            <option>Feria de Libro</option>
        </select>
    </div>
    <button class="form__boton">Registrar</button>
    <label class="form__pregunta">¿No tienes cuenta?<label id="botonRegistro" class="form__pregunta--link">Registrarse</label></label>
</form>